<meta charset="utf-8">
	<nav>
	<ul>
		<li class="section"><a href="home"><span class="icon">&#128711;</span>主页面</a></li>
		<li>
			<a href="javascript:void(0)"><span class="icon">&#128196;</span> 销量排行榜</a>
			<ul class="submenu">
				<li><a href="category">分类销量对比排行</a></li>
				<li><a href="product">单品销量对比排行</a></li>
				<li><a href="brand">品牌销量对比排行</a></li>
			</ul>	
		</li>
		<li>
			<a href="javascript:void(0)"><span class="icon">&#127748;</span> 商品分析</a>
			<ul class="submenu">
			    <li><a href="sale">商品销售分析</a></li>
				<li><a href="product-order-flow">流向明细数据</a></li>
				<li><a href="product-stockout">缺货分析</a></li>
				<li><a href="product-stockout-rate">缺货率分析</a></li>
			</ul>
		</li>
		<li>
			<a href="javascript:void(0)"><span class="icon">&#127748;</span>商户统计 </a>
			<ul class="submenu">
				<li><a href="distribution">商户分布</a></li>
				<li><a href="user-register">商户注册统计</a></li>
				<li><a href="wechat">微信关注统计</a></li>
			</ul>
		</li>
		<li>
			<a href="order"><span class="icon">&#127748;</span> 交易统计 </a>
			<ul class="submenu">
				<li><a href="order-table">订单统计</a></li>
				<li><a href="order-source">订单来源</a></li>
				<li><a href="order-average">平均客单价</a></li>
			</ul>
		</li>
		
		<li>
			<a href="javascript:;"><span class="icon">&#127748;</span> 市场费用</a>
			<ul class="submenu">
				<li><a href="coupon">优惠券分析</a></li>
				<li><a href="discount">折扣分析</a></li>
				<li><a href="giftrecord">赠品分析</a></li>
			</ul>
		</li>
		
		<li>
			<a href="javascript:;"><span class="icon">&#127748;</span>关键词搜索 </a>
			<ul class="submenu">
				<li><a href="distribution/keyWord">关键词实时监控</a></li>
				<li><a href="distribution/word">关键词排行</a></li>
			</ul>
		</li>
		<!-- <li>
			<a href="javascript:;"><span class="icon">&#127748;</span> 配送物流</a>
			<ul class="submenu">
				<li><a href="supplier-stat">配送站客户销售</a></li>
				<li><a href="javascript:void(0);">配送站订单</a></li>
			</ul>
		</li>
		<li>
			<a href="javascript:;"><span class="icon">&#9881;</span> 系统管理</a>
			<ul class="submenu">
				<li><a href="user-control">用户管理</a></li>
				<li><a href="role-control;">角色管理</a></li>
				<li><a href="javascript:void(0);">权限管理</a></li>
			</ul>
		</li> -->
	</ul>
</nav>