<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/jquery.wysiwyg.js"></script>
<!-- <script src="js/custom.js"></script> -->
<script src="js/jquery.checkbox.min.js"></script>
<script src="js/flot.js"></script>
<script src="js/custom.js"></script>
<script src="js/flot.resize.js"></script>
<script src="js/flot-time.js"></script>
<script src="js/cycle.js"></script>
<script src="js/jquery.tablesorter.min.js"></script>
<script src="js/flot-pie.js"></script>
<script src="js/layer/layer.js"></script>
<script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
<script src="http://cdn.hcharts.cn/highcharts/modules/exporting.js"></script>
<script type="text/javascript" src="js/My97DatePicker/WdatePicker.js" ></script>
<script type="text/javascript" src="js/charts/export.js" ></script>