<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="utf-8">
	<title>店商互联大数据BI系统</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="css/style2.css" media="all" />
</head>
<body>
<#include "header.html"/>
<#include "menu.html"/>

<section class="content">
	<section class="widget">
		<header>
			<span class="icon">&#128196;</span>
			<hgroup>
				<h1>配送站客户销售</h1>
				<h2>wechat statistics</h2>
				
			</hgroup>
			<aside>
				<span>
					<a href="#">&#9881;</a>
					<ul class="settings-dd">
						<li><label>Option a</label><input type="checkbox" /></li>
						<li><label>Option b</label><input type="checkbox" checked="checked" /></li>
						<li><label>Option c</label><input type="checkbox" /></li>
					</ul>
				</span>
			</aside>
		</header>
		<div class="search_content">
			<div class="field-wrap1">
			<form action="supplier-stat" method="post">
			仓库：
			<select class="cs-select cs-skin-border" id="depotId" name="depotId">
			    <option  value="" >--全部--</option>
				<option value="56">西三旗仓</option>
				<option value="57">十八里店仓</option>
				<option value="58">苏州仓</option>
				<option value="59">深圳仓</option>
				<option value="60">杭州仓</option>
				<option value="61">常州仓</option>
				<option value="62">重庆仓</option>
				<option value="63">无锡仓</option>
				<option value="64">天津仓</option>
				<option value="65">武汉仓</option>
				<option value="66">宁波仓</option>
				<option value="68">顺义仓</option>
				<option value="69">东莞仓</option>
				<option value="101">青岛仓</option>
				<option value="102">广州仓</option>
				<option value="104">成都仓</option>
				<option value="105">南通仓</option>
				<option value="107">南京仓</option>
			</select>
			&nbsp;&nbsp;时间：
				<input value="${condtion.startDate!''}" type="text" class="Wdate" id="startDate" name="startDate" onClick="WdatePicker({doubleCalendar:false,skin:'twoer',dateFmt:'yyyy-MM-dd'})">-
				<input value="${condtion.endDate!''}" type="text" class="Wdate" id="endDate" name="endDate" onClick="WdatePicker({doubleCalendar:false,skin:'twoer',dateFmt:'yyyy-MM-dd'})" >
				<button type="submit" class="">搜索</button> 
               </form>
			</div>
		</div>
		<div id="main" class="content">
			<#include "supplier-statis-iframe.html"/>
		</div>
	</section>
</section>
<#include "meta.html"/>
<script type="text/javascript">
// Feature slider for graphs
 $('.cycle').cycle({
	fx: "scrollHorz",
	timeout: 0,
    slideResize: 0,
    prev:    '.left-btn', 
    next:    '.right-btn'
}); 
</script>
<script type="text/javascript">
	//分页
	$(function(){
		var startDate = $("#startDate").val();
		var endDate = $("#endDate").val();
		var depotId = $("#depotId").val();
		
		$(".bt_blue").live("click", function(){
			$("#main").load($(this).attr("ajaxUrl")+'startDate='+startDate+'&endDate='+endDate+'&depotId='+depotId);
		});
	});
</script>
</body>
</html>